.DS_Store
node_modules
npm-debug.log
/app/build
/app/reports
/app/user-env.sh


android/.gradle
android/local.properties
android/.idea/workspace.xml
android/.idea/libraries
android/build
android/gradle.properties

ios/build
ios/scaffold.xcodeproj/xcuserdata/*.xcuserdatad/
ios/scaffold.xcworkspace/xcuserdata/*.xcuserdatad/
