android/.gradle
android/local.properties
android/.idea/workspace.xml
android/.idea/libraries
android/build
android/gradle.properties

node_modules
/app/build
/app/user-env.sh

.DS_Store
npm-debug.log
