/* Welcome Page
//
// Layout
// ---
//
// 1. Behold my awesome normalizer! 👷
// 2. So last flex-box item will be aligned with the bottom of the viewport
// 3. Maintain image ratio
// 4. Making sure image doesn't get too big
// 5. Centering image
// 6. Margin here instead of padding on wrapper so flexbox doesn't doesn't
//    cause the page to scroll
*/

body {
    margin: 0; /* 1 */
}

.t-welcome {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;

    height: 100%; /* 2 */
    padding: 0 20px;
    font-family: Lato, sans-serif;
    text-align: center;
    overflow: hidden;
}

.welcome__image {
    flex: 0 0 auto; /* 3 */

    width: 80%;
    max-width: 300px; /* 4 */
    height: auto;
    margin: auto; /* 5 */
    margin-bottom: 15px;
}

.welcome__header {
    color: #007ba7;
    margin-top: 44px;
}

    .t-welcome__header h1 {
        margin-bottom: 15px;
        font-size: 25px;
        font-weight: 900;
        text-transform: uppercase;
    }

    .t-welcome__header p {
        margin: 0;
        margin-bottom: 15px;
        font-size: 18px;
    }

.welcome__buttons {
    margin-top: 16px; /* 7 */
}

.c-button {
    /* 44 × 44 points is the comfortable
    minimum size of a tappable UI element. */
    width: 44px;
    height: 44px;
    padding: 16px;
    border: 0;

    /* prevents button from scrolling */
    position: fixed;
    top: 16px;
    right: 16px;

    /* Set icon for dismiss button */
    background: url(icon__close.png) no-repeat;
    background-size: 75%;
    background-position: center;
}
