/* Error Template Styles
// ===
//
// 1. Vertically align error content on page
// 2. Style caret that appears in back button
// 3. Align caret horizontally with text
*/

.t-error {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center; /* 1 */
    height: 100%;

    color: #808080;
    font-size: 18px;
    text-align: center;

    -webkit-justify-content: center; /* 1 */
    -webkit-flex-direction: column;
}

.t-error__content-wrapper {
    padding: 15px;
}

.t-error__image {
    margin: 0 auto;
}
.t-error__image.t--timeout {
    width: 100px;
    margin-bottom: 20px;
}
.t-error__image.t--offline {
    width: 179px;
    margin-bottom: 25px;
}

.t-error__heading {
    font-weight: 600px;
    text-transform: uppercase;
}

.t-error__text {
    margin-bottom: 20px;
    padding: 0 10%;
}

.t-error__back-button {
    margin-top: 15px;
}

.t-error__back-button::before {
    content: ''; /* 2 */

    position: relative;
    top: 1px; /* 3 */

    display: inline-block;
    width: 7px;
    height: 12px;
    margin-right: 10px;

    background-image: url(../assets/caret.png);
    background-repeat: no-repeat;
    background-size: contain;
}
